//Color
$grey-1: rgb(34, 34, 34);
$grey-2: rgb(48, 48, 48); 
$grey-3: #8c8c8c;

$red-1: rgb(244, 6, 18);

$yellow-1: #FFA00A;

$black-opacity-08: rgba(0, 0, 0, 0.8);

$white-opacity-06: rgba(255, 255, 255, 0.6);


//Font-size
$s5-size: 11px;
$s4-size: 13px;
$s3-size: 16px;
$s2-size: 18px;
$s1-size: 20px;
$m-size: 26px;
$m0-size: 30px;
$m1-size: 40px;
$l1-size: 50px;


//Space
$s3-space: 10px;
$s2-space: 15px;
$s1-space: 20px;
$m-space: 30px;
$l1-space: 50px;


//Image size 
$img-size-1: 400px;